<p class="mb-4">
  <% if false #@user.plan_id == FREE_TRIAL_PLAN_ID %>
    <% if @user.days_left <= 0 %>
      Your trial has ended. Subscribe now to continue using Curathor.
    <% else %>
      Your trial period will end in <strong><%= pluralize(@user.days_left, 'day') %></strong>. Subscribe now to continue using Curathor uninterrupted.
    <% end %>
  <% end %>
</p>

<%= render Settings::ControlGroupComponent.new class: "mb-14" do |group| %>
  <% group.header do %>
    Plans
  <% end %>
  <% month = "$5/month" %>
  <% year = "$50/year" %>
  <% group.item do %>
    <%= render Settings::ControlRowComponent.new do |row| %>
      <% row.title do %>
        <%= month %>
      <% end %>
      <% row.control do %>
        <%= button_to "Choose #{month} plan", { controller: "settings/billings", action: "change_plan", plan_id: MONTHLY_PLAN_ID }, method: :post, class: "button" %>
      <% end %>
    <% end %>
  <% end %>
  <% group.item do %>
    <%= render Settings::ControlRowComponent.new do |row| %>
      <% row.title do %>
        <%= year %>
      <% end %>
      <% row.control do %>
        <%= button_to "Choose #{year} plan", { controller: "settings/billings", action: "change_plan", plan_id: YEARLY_PLAN_ID }, method: :post, class: "button" %>
      <% end %>
    <% end %>
  <% end %>  
<% end %>
<%= button_to "Cancel subscription", { controller: "settings/billings", action: "cancel_subscription"}, method: :post, class: "button" %>
