<% cache [tag, "v4"] do %>
    <li class="tag" data-tag-id="<%= tag.id %>" data-feed-id="<%= tag.id %>" data-count-type="tag" data-behavior="droppable">
        <% if current_user.try(:admin?) %>
            <%= link_to tag_path(tag.id),
                remote: true,
                class: 'feed-link tag-link tag-link-padding',
                data: {
                    behavior: 'selectable show_entries open_item feed_link renamable has_settings',
                    mark_read: {type: 'tag', data: tag.id, message: "Mark #{tag.name} as read?"}.to_json,
                    sourceable_target: "source",
                    action: "sourceable#selected",
                    sourceable_payload_param: tag.sourceable.to_h,
                    settings_path: edit_tag_path(tag)
                } do
            %>
                <%= render partial: "tags/tag_item_name", locals: { tag: tag }  %>
            <% end %>
        <% else %>
            <%= link_to tag_path(tag.id),
                remote: true,
                class: 'feed-link tag-link tag-link-padding',
                data: {
                    behavior: 'show_entries open_item feed_link',
                    mark_read: {type: 'tag', data: tag.id, message: "Mark #{tag.name} as read?"}.to_json
                } do
            %>
                <%= render partial: "tags/tag_item_name", locals: { tag: tag }  %>
            <% end %>
        <% end %>
        <div class="drawer feed-drawer" data-behavior="feed_drawer expandable">
            <% current_user.taggings.where(tag_id: tag.id).each do |tagging| %>
                <ul>
                    <%= render partial: "feeds/feed", locals: {feed: tagging.feed, has_profile: true }  %>
                </ul>
            <% end %>
        </div>
    </li>
<% end %>