<section class="gap-2 mb-4 mt-4">
    <div class="flex flex-row gap-4 w-[50vw]">
        <span class="flex items-center" style="min-width: min-content; width: 50px;">
            <%= profile.profile_name %>
        </span>
        <div class="ml-auto flex flex-row gap-2">
            <%= form_with class:"flex flex-row gap-2" , url: settings_update_profile_path, method: :put do |form| %>
                <%= form.text_field :profile_name, { class: "peer text-input", placeholder: "Rename..." } %>
                <%= form.submit "Update", {class:"button bg-orange-600", style: "border: none;"} %>
            <% end %>
            <%= form_with url: settings_delete_profile_path, method: :delete do |form| %>
                <%= form.hidden_field :profile_id, value: profile.id %>
                <%= form.submit "Delete", { class:"button bg-red-600", style: "border: 1px solid #d40c35;"}  %>
            <% end %>
        </div>
    </div>
</section>