<section class="flex flex-row items-center gap-4" >
  <span class="flex items-center" style="min-width: 250px;">
    <%= user.email %>
  </span>
  <%= form_with class: "flex flex-row ml-auto gap-4", url: settings_add_profile_to_user_path, method: :post do |form| %>
    <%= form.hidden_field :user_id, value: user.id %>
    <% if profiles.present? %>
      <div class="p-2" style="min-width: 250px; display: grid; grid-template-columns: repeat(2, 1fr)">
        <% profiles.each do |profile| %>
          <% random_id = SecureRandom.hex(5) %>
          <div class="flex items-center place-self-start mb-4">
            <%= form.check_box "selected_profiles[]", { id: "profile_#{profile.id}#{random_id}", style: "clip: auto; width: 15px; height: 15px;", class: "text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" }, profile.id, false %>
            <%= form.label "profile_#{profile.id}", profile.profile_name, class: "text-sm font-medium text-gray-900 dark:text-gray-300 ml-6" %>
          </div>
        <% end %>
      </div>
      <div style="place-self: center;">
        <%= form.submit "+ Add", class:"button button-submit" %>
      </div>
    <% else %>
      <div class="flex items-center" style="height: 75px;">
        <span style="opacity: 0.7;" >No new subscriptions available</span>
      </div>
    <% end %>  
  <% end %>
</section>
 