<%= content_tag :div, class: "flex gap-4 mb-4 mt-4" do %>
  <% if user.deleted? %>
        <span class="line-through"><%= link_to user.email, user.stripe_url %></span>
  <% else %>
        <%= link_to user.email, user.stripe_url %>
  <% end %>
  <%= form_with url: settings_add_profile_to_user_path, method: :post do |form| %>
    <%= form.hidden_field :user_id, value: user.id %>
    <%= form.select :profile_id, options_for_select([["Select Profile", "0"]] + profiles.map { |profile| [profile.profile_name, profile.id] }), class: "peer profile-select" %>
    <%= form.submit "+ Add", class:"button button-submit" %>
  <% end %>
<% end%>
 